.dropdown{
    display: flex;
    flex-direction: column;
    justify-items: justify;
    padding-right: 10px;
}
.checks{
    display: inherit;
    flex-direction: column;
    margin-top: 2.4%;
    padding-right: 20px;
}
.label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #826dc4;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    height: auto;
}
body{
    background-color: #fefefe;
}